page-user {
  #avatar {
    display: none;
  }
  .item-block {
    padding-left: 0;
  }

  .split-row {

    ion-col:first-child {
      padding-left: 0;
    }

    ion-col:last-child {
      padding-right: 0;
    }
  }
  
  .toolbar-md-primary .toolbar-background-md {
    background: #019d7c;
}
.button-md{
background-color: #019d7c;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
}