page-login{
	
.content-md {
    /* color: #000; */
    /* background-color: #fff; */
    background: url(../assets/img/bg.png) no-repeat center center;
    background-size: cover;
}
.header {
    background: url(../assets/img/logo.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 60px !important;
}
.item-md {
	background-color: transparent;
	border: 1px #3fbaa4 solid;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #3fbaa5;
}
.button-clear-md {
	text-transform:none;
	float: right;
}
.list-md {
    margin-top: 20%;
}
.btnsub {
	border:0px;
}

.btnsub button {
    background: #3fbaa5;
    width: 55%;
    margin: 0 auto;
    border-radius: 30px;
    font-size: 2.5rem !important;
    text-transform: none;
}

.item-md .item-button {
    height: 50px;
}















































}
