page-user {
  img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }
    .toolbar-md-primary .toolbar-background-md {
    background: #019d7c;
	}
	.button-md {
	    background-color: #019d7c;
	}
  
  
  
  
  
  
  
  
}
