page-pick-up,
.pick-up {

  ion-list {
    margin-bottom: 0;
  }
  .button-clear-md {
     color: #fff;
    background-color: #019d7c;
  }
  .toolbar-md-primary .toolbar-background-md {
    background: #019d7c;
}
  .button-clear-md:hover:not(.disable-hover) {
    background-color: #019d7c;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
}
